@charset "utf-8";
/* CSS Document */

#Container{
	width: 0 auto;
	margin: 0 auto;
	max-width: 1000px;
}
body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: aliceblue;
	background-color: #1D2027;
}
header{
	text-align: left;
	padding: 0px;
	margin: 0px;
}
/*nav{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #313847;
}
nav ul{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
}
nav ul li{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	list-style: none;
	float: left;
}
nav ul li a:link, nav ul li a:visited{
	display: inline-block;
	height: 30px;
	width: 0 auto;
	line-height: 30px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	color: goldenrod;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active{
	background: #CCC;
}*/

/* Dropdown Button */
nav{
	background-color: #313847;
	padding: 5px;
	color: aliceblue;
}
nav a{
	text-decoration: none;
	color: aliceblue
}
.dropbtn {
  background-color: #454b59;
  color: aliceblue;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2c323f;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
	color: aliceblue;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #454b59;
	color: aliceblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: aliceblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2c323f}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

section{
	float: left;
	width: 760px;
}
aside{
	float: right;
	width: 200px;
}
footer{
	clear: both;
	list-style: none;
	martin: 0;
	padding: 0;
	text-align: center;
	background-color: #313847
}

footer a{
	color: goldenrod;
}

footer img {
	padding: 5px;
}
