@charset "utf-8";
/* CSS Document */

#Container{
	width: 0 auto;
	margin: 0 auto;
}
body{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: aliceblue;
	background-color: #1D2027;
}
header{
	text-align: left;
	padding: 0px;
	margin: 0px;
}
nav{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #313847;
}
nav ul{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
}
nav ul li{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	list-style: none;
	float: left;
}
nav ul li a:link, nav ul li a:visited{
	display: inline-block;
	height: 30px;
	width: 0 auto;
	line-height: 30px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	color: goldenrod;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active{
	background: #CCC;
}
section{
	float: left;
	width: 760px;
}
aside{
	float: right;
	width: 200px;
}
footer{
	clear: both;
	list-style: none;
	martin: 0;
	padding: 0;
	text-align: center;
	background-color: #313847
}

footer a{
	color: goldenrod;
}

footer img {
	padding: 5px;
}
